<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'task_mastery/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'task_mastery/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'task_mastery/css/pomodoro-clock.css' %}">
    <title>{{ title }}</title>
  </head>

  <body class="account-bg">
    <header class="header-acc">
      <buttnon class="btn-menu">
        <svg class="menu-icon">
          <use href="{% static 'task_mastery/img/sprite.svg' %}#menu"></use>
        </svg>
      </buttnon>
      <div class="logo">
        <a href="{% url 'task_mastery:account' %}" class="header-logo acc-logo">TaskMastery</a>
        <svg class="logo-icon">
          <use href="{% static 'task_mastery/img/sprite.svg' %}#logo-acc"></use>
        </svg>
      </div>
      <div class="search">
        <svg class="search-icon">
          <use href="{% static 'task_mastery/img/sprite.svg' %}#search"></use>
        </svg>
        <input type="search" placeholder="Поиск">
      </div>
      
      <div class="user">
        <div class="user-avatar"></div>
        <button class="dropdown-btn">
          <svg class="dropdown-icon">
            <use href="{% static 'task_mastery/img/sprite.svg' %}#dropdown"></use>
          </svg>
        </button>
      </div>
    </header>

    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="{% url 'task_mastery:account' %}" class="nav-item-link">Кабинет</a>
          <svg class="house-icon icon-nav">
            <use href="{% static 'task_mastery/img/sprite.svg' %}#house"></use>
          </svg>
          
        </li>
        <li class="nav-list-item">
          <a href="{% url 'task_mastery:projects' %}" class="nav-item-link">Проекты</a>
          <svg class="projects-icon icon-nav">
            <use href="{% static 'task_mastery/img/sprite.svg' %}#projects"></use>
          </svg>
        </li>
        <li class="nav-list-item">
          <a href="{% url 'task_mastery:timer' %}" class="nav-item-link">Таймер</a>
          <svg class="timer-icon icon-nav">
            <use href="{% static 'task_mastery/img/sprite.svg' %}#timer"></use>
          </svg>
        </li>
        <li class="nav-list-item">
          <a href="{% url 'task_mastery:main' %}" class="nav-item-link">Аналитика</a>
          <svg class="analytics-icon icon-nav">
            <use href="{% static 'task_mastery/img/sprite.svg' %}#analytics"></use>
          </svg>
        </li>
      </ul>
    </nav>

    <ul class="dropdown">
      <li class="nav-list-item"><a href="{% url 'task_mastery:profile' %}" class="nav-item-link">Профиль</a></li>
      <li class="nav-list-item"><a href="{% url 'task_mastery:logout' %}" class="nav-item-link">Выйти</a></li>
    </ul>


    <section class="layer">
      <div class="layer__container">
        <div class="layers__item layer-1 bg-layer-1"></div>
        <div class="layers__item layer-2 bg-layer-2"></div>
        <div class="layers__item layer-3">
          <div class="account-content">
            {% block cabinet %}{% endblock cabinet %}
            {% block profile %}{% endblock profile %}
            {% block projects %}{% endblock projects %}
            {% block timer %}{% endblock timer %}
          </div>
        </div>
        <div class="layers__item layer-4">
          <canvas class="rain"></canvas>
        </div>
        <div class="layers__item layer-5 bg-layer-5"></div>
        <div class="layers__item layer-6 bg-layer-6"></div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'task_mastery/libs/rain.js' %}" ></script>
    <script src="{% static 'task_mastery/js/account.js' %}" ></script>
    <script src="{% static 'task_mastery/js/flip-clock.js' %}"></script>
    <script src="{% static 'task_mastery/js/timer.js' %}" ></script>
    <script>console.log($)</script>
  </body>
</html>


