<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'task_mastery/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'task_mastery/css/styles.css' %}">
    <title>{{ title }}</title>
  </head>

  <body>
    <section class="layer">
      <div class="layer__container">
        <div class="layers__item layer-1 bg-layer-1"></div>
        <div class="layers__item layer-2 bg-layer-2"></div>
        <div class="layers__item layer-3">
          <div class="account-content">
            <a href="{% url 'task_mastery:logout' %}">Выйти</a>
          </div>
        </div>
        <div class="layers__item layer-4">
          <canvas class="rain"></canvas>
        </div>
        <div class="layers__item layer-5 bg-layer-5"></div>
        <div class="layers__item layer-6 bg-layer-6"></div>
      </div>
    </section>

    <div style="height: 100vh;"></div>
    <script src="{% static 'task_mastery/libs/rain.js' %}" ></script>
    <script src="{% static 'task_mastery/js/account.js' %}" ></script>
  </body>
</html>


