  {% load static %}
  <header class="header-task-mastery">
    <nav class="nav-task-mastery">
      <div class="logo">
        <a href="#" class="header-logo">TaskMastery</a>
        <svg class="logo-icon">
          <use href="{% static 'task_mastery/img/sprite.svg' %}#logo"></use>
        </svg>
      </div>

      <button class="logIn authorization">Войти</button>
    </nav>
  </header>

  <main class="main-task-mastery">
    <section class="introductory-section main-section">
      <p class="introductory-section-title">
        TaskMastery - ваш надежный помощник в эффективном управлении задачами и проектами
      </p>
      <button class="introductory-section-btn logIn">Начать</button>
    </section>
  
    <section class="site-intended main-section">
      <img class="site-intended-img sii" src="{% static 'task_mastery/img/siteIntended.jpg' %}" alt="site-intended">
      <div class="site-intended-text">
        <h3 class="site-intended-title">Этот сайт предназначен для тех, кто стремится</h3>
        <ul class="site-intended-list">
          {% for elem in siteIntended %}
            <li class="site-intended-item">
              <svg class="point-icon">
                <use href="{% static 'task_mastery/img/sprite.svg' %}#point"></use>
              </svg>
              <span class="site-intended-item-text">{{elem}}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="task-management main-section">
      <div class="task-management-imgs">
        <div class="wrapper-tmi1">
          <img class="task-management-img tmi1" src="{% static 'task_mastery/img/demo1.jpg' %}" alt="pomodoro">
        </div>
        <div class="wrapper-tmi2">
          <img class="task-management-img tmi2" src="{% static 'task_mastery/img/demo2.jpg' %}" alt="projects">
        </div>
        <div class="wrapper-tmi3">
          <img class="task-management-img tmi3" src="{% static 'task_mastery/img/demo3.jpg' %}" alt="analytics">
        </div>
        
      </div>
      <div class="task-management-text">
        <div class="site-intended-text">
          <h3 class="site-intended-title">Планирование проектов:</h3>
          <ul class="site-intended-list">
            {% for elem in planning %}
              <li class="site-intended-item">
                <svg class="point-icon">
                  <use href="{% static 'task_mastery/img/sprite.svg' %}#point"></use>
                </svg>
                <span class="site-intended-item-text">{{elem}}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
        
      </div>
    </section>

    <section class="team-work main-section">
      <img class="site-intended-img team-work-img" src="{% static 'task_mastery/img/demo4.jpg' %}" alt="site-intended">
      <div class="site-intended-text">
        <h3 class="site-intended-title">Коллаборация в команде:</h3>
        <ul class="site-intended-list">
          {% for elem in teamWork %}
            <li class="site-intended-item">
              <svg class="point-icon">
                <use href="{% static 'task_mastery/img/sprite.svg' %}#point"></use>
              </svg>
              <span class="site-intended-item-text">{{elem}}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="personalized main-section">
      <img class="site-intended-img personalized-img" src="{% static 'task_mastery/img/demo5.jpg' %}" alt="site-intended">
      <div class="site-intended-text">
        <h3 class="site-intended-title">Персонализированный подход:</h3>
        <p class="site-intended-item-text">
          TaskMastery позволяет настраивать интерфейс в соответствии с вашими потребностями, чтобы работать с максимальным комфортом
        </p>
      </div>
    </section>

    <section class="mobile-version main-section">
      <img class="site-intended-img mobile-version-img" src="{% static 'task_mastery/img/demo6.jpg' %}" alt="site-intended">
      <div class="site-intended-text">
        <h3 class="site-intended-title">Мобильная версия:</h3>
        <p class="site-intended-item-text">
          Доступ к вашим задачам и проектам в любое время и из любого места благодаря мобильной версии сайта
        </p>
      </div>
    </section>

  </main>

  <div class="slider-buttons">
    <button class="slider-btn-next">
      <svg class="btn-next-icon">
        <use href="{% static 'task_mastery/img/sprite.svg' %}#btn-next"></use>
      </svg>
    </button>
    <button class="slider-btn-prev">
      <svg class="btn-prev-icon">
        <use href="{% static 'task_mastery/img/sprite.svg' %}#btn-prev"></use>
      </svg>
    </button>
  </div>

  <div class="modal-registration">
    <div class="modal-dialog-registration">
      <div class="modal-content-registration">
        <button class="btn-close-registration">
          <svg class="close-modal-icon">
            <use href="{% static 'task_mastery/img/sprite.svg' %}#close-modal"></use>
          </svg>
        </button>
        <h3 class="modal-title-registration">Регистрация</h3>
        <form  method="POST" class="form-registration">
          {% csrf_token %}
        
          {% for item in form %}
            <div class="registration-form-group">
              <label class="registration-label" for="{{ item.id_for_label }}">{{item.label}}</label>
              {{ item }}
            </div>
          {% endfor %}

          <button class="registration-btn" type="submit">Зарегистрироваться</button>

          <!-- <div class="registration-notify">
            <label for="" class="registration-notify-label">
              <input type="checkbox" id="checkbox-registration" name="checkbox">
              <span class="checkmark-registration"></span>
            </label>
            <p class="registration-notify-text">
              Нажимая на кнопку, вы соглашаетесь на обработку персональных
              данных и <a href="" class="registration-notify-link">политикой конфиденциальности</a>      
            </p>
          </div> -->
        </form>
      </div>
    </div>
  </div>

  <div class="modal-authorization">
    <div class="modal-dialog-authorization">
      <div class="modal-content-authorization">
        <button class="btn-close-authorization">
          <svg class="close-modal-icon">
            <use href="{% static 'task_mastery/img/sprite.svg' %}#close-modal"></use>
          </svg>
        </button>
        <h3 class="modal-title-authorization">Авторизация</h3>
        <form action="#" method="POST" class="form-authorization">
          {% csrf_token %}
          <!-- <div class="authorization-form-group">
            <input id="authorization-name" type="text">
            <label for="authorization-name">Логин</label>
          </div>

          <div class="authorization-form-group">
            <input id="authorization-name" type="text">
            <label for="authorization-name">Пароль</label>
          </div> -->

          {{ form.as_div }}

          <button class="authorization-btn" type="submit">Войти</button>

        </form>
      </div>
    </div>
  </div>
