{% extends "task_mastery/base.html" %}
{% load static %}

{% block title %}Главная{% endblock title %}

{% block headerMain %}
  <header class="header-task-mastery">
    <nav class="nav-task-mastery">
      <div class="logo">
        <a href="#" class="header-logo">TaskMastery</a>
        <svg class="logo-icon">
          <use href="{% static 'task_mastery/img/sprite.svg' %}#logo"></use>
        </svg>
      </div>

      <button class="logIn">Войти</button>
    </nav>
  </header>
{% endblock headerMain %}


{% block introductorySection %}
  <section class="introductory-section">
    <p class="introductory-section-title">
      TaskMastery - ваш надежный помощник в эффективном управлении задачами и проектами
    </p>
    <button class="introductory-section-btn logIn">Начать</button>
  </section>
{% endblock introductorySection %}

<button class="introductory-section-scroll"></button>