{% extends 'task_mastery/base.html' %}
 
{% block pass_reset_confrim %}
<section class="registration">
  <div class="modal-content-registration">
    <h3 class="title-registration">Новый пароль</h3>
    <form method="post">
      {% csrf_token %}
      <div class="form-error">{{ form.non_field_errors }}</div>
      {% for f in form %}
      <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>
      {{ f }}
      <div class="form-error">{{ f.errors }}</div>
      {% endfor %}
   
      <button class="registration-btn" type="submit">Сохранить</button>
  </form>
    
      <a href="{% url 'task_mastery:main' %}" class="reg-come-back">На главную</a>

    </form>
  </div>
</section>
{% endblock pass_reset_confrim %}