@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1 vh);
  --transition: 1s cubic-bezier(.05, .5, 0, 1)
}

@font-face {
  font-family: kamerik205-heavy-3d;
  src: url(../fonts/kamerik205-heavy.woff2);
  font-weight: 900;
}

@font-face {
  font-family: merriweather-3d;
  src: url(../fonts/merriweather-regular-italic.woff2);
}

.logo-icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.bg-body {
  position: relative;
  background: url(../img/main_bg.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.bg-body::before {
  position: absolute;
  content: '';
  background: radial-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0));
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 5.9375rem; */
  height: inherit;
  max-width: 1440px;
  margin: auto;
  z-index: 1;
}

.header-task-mastery {
  position: relative;
  padding: 47px 0;
  z-index: 1;
}

.nav-task-mastery {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(320deg, #f28743, #bb31be);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logIn {
    width: 150px;
    height: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background: linear-gradient(90deg, #f28743, #bb31be);
    box-shadow: 0 0 5px #f28743;
    transition: 1s;
}

.main-task-mastery {
  position: relative;
  overflow: hidden;
  height: 440px;
  z-index: 1;
  border-radius: 20px;
}

.introductory-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 20px;
    z-index: 1;
}

.introductory-section-title {
    margin: 0;
    max-width: 670px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 150%;
    color: #ffffff;
    text-shadow: 2px 2px 10px #ffffff;
}

.introductory-section-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 160px;
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
    text-decoration: none;
}


.main-section {
  position: absolute;
  visibility: hidden;
  width: 1440px;
  height: 400px;
}

.site-intended,
.mobile-version {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.site-intended-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 85%;
  color: #ffffff;
  text-shadow: 2px 2px 10px #ffffff;
}

.point-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.site-intended-text {
  display: flex;
  flex-direction: column;
  max-width: 537px;
}

.site-intended-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
}

.btn-next-icon,
.btn-prev-icon {
  width: 24px;
  height: 24px;
}

.site-intended,
.mobile-version {
  /* position: relative; */
  z-index: 1;
}

.slider-btn-next,
.slider-btn-prev {
  position: relative;
  z-index: 1;
  background: none;
  border: none;
}

.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.site-intended-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.site-intended-img,
.wrapper-tmi1,
.wrapper-tmi2,
.wrapper-tmi3 {
  border-radius: 50px;
  box-shadow: 0 0 17px #bb31be;
}

.site-intended-item-text {
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 220%;
    color: #ffffff;
    text-shadow: 2px 2px 10px #ffffff;
}

.task-management {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* position: relative; */
  z-index: 1;
}

.task-management-img {
  position: absolute;
  width: 220px;
  height: 220px;
}

.task-management-imgs {
  position: relative;
  width: 336px;
  height: inherit;
}

.wrapper-tmi1 {
  position: absolute;
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.wrapper-tmi2 {
  position: absolute;
  top: 75px;
  left: 100px;
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.wrapper-tmi3 {
  position: absolute;
  left: 194px;
  top: 175px;
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.team-work,
.personalized {
  /* position: relative; */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

.team-work-img {
  border-radius: 50%;
}

.personalized-img {
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.mobile-version-img {
  border-radius: 10px;
}

.appearence {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear, transform 1s;
  transform: translateY(0);
}


.disapearence {
  visibility: hidden; 
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear, transform 1s;
  transform: translateY(-100%);
}

.section-hidden {
  display: none;
}

.registration {
  width: 482px;
  margin: auto;
  padding: 2.5rem;
  border-radius: 20px;
  background: linear-gradient(90deg, #f28743, #bb31be);
}
 
.modal-authorization {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  background: radial-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0));
}

.modal-dialog-authorization {
  position: relative;
  width: 482px;
  margin: auto;
  padding: 2.5rem;
  border-radius: 20px;
  transition: transform 0.4s, opacity 0.4s;
  background: linear-gradient(90deg, #f28743, #bb31be);
}

.modal-is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  z-index: 5;
}

.form-error {
  color: yellow;
}

.reg-come-back {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 220%;
  color: #ffffff;
}

.layer {
  perspective: 739px;
  overflow: hidden;
}

.layer__container {
  height: 100vh;
  transform-style: preserve-3d;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
  will-change: transform;
  transition: transform var(--transition);
}

.layers__item {
  position: absolute;
  inset: -5vw;
  background-size: cover;
  background-position: center;
}

.bg-layer-1 {
  background-image: url(../img/layer-1.jpg);
}

.bg-layer-2 {
  background-image: url(../img/layer-2.png);
}

.bg-layer-5 {
  background-image: url(../img/layer-5.png);
}

.bg-layer-6 {
  background-image: url(../img/layer-6.png);
}

.layer-1 {
  transform: translateZ(-55px) scale(1.06);
}

.layer-2 {
  transform: translateZ(80px) scale(0.88);
}

.layer-3 {
  transform: translateZ(180px) scale(0.8);
}

.layer-4 {
  transform: translateZ(190px) scale(0.9);
  pointer-events: none;
}

.layer-5 {
  transform: translateZ(300px) scale(0.9);
  pointer-events: none;
}

.layer-6 {
  transform: translateZ(380px);
  pointer-events: none;
}

.account-bg {
  background: #000000;
}

.acc-logo {
  font-family: "merriweather-3d", sans-serif;
  font-size: 24px;
  background: #ffffff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-acc {
  position: absolute;
  height: 70px;
  inset: 0vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;

  background: rgba(255, 255, 255, 0.1);
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
  backdrop-filter: blur(3px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.menu-icon {
  width: 48px;
  height: 48px;
}

.search-icon,
.house-icon,
.projects-icon,
.timer-icon,
.analytics-icon {
  width: 24px;
  height: 24px;
}

.dropdown-icon {
  width: 16px;
  height: 10px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.navbar {
  position: absolute;
  visibility: hidden;
  top: 4.5vw;
  left: -15vw;
  width: 230px;
  bottom: 0vw;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  z-index: 2;

  background: rgba(255, 255, 255, 0.1);
  /* border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3); */
  backdrop-filter: blur(3px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-in-out;
}

.btn-menu {
  cursor: pointer;
  transition: 0.5s
}

.btn-menu-rotate {
  transform: rotate(360deg);
}

.navbar-open,
.dropdown-open {
  visibility: visible;
  left: 0;
  transition: all 0.7s ease-in-out;
}

.dropdown {
  position: absolute;
  visibility: visible;
  top: 3.5vw;
  right: 6vw;
  width: 130px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 2;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-in-out;
}

.nav-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  gap: 15px;
}

.nav-item-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  text-decoration: none;
}

.account-content {
  position: absolute;
  border: 3px solid red;
  left: 50%;
  top: 12.5vw;
  width: 900px;
  margin-left: -450px;
}

.current-date {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  line-height: 85%;
  color: #ffffff;
}

.greetings {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
  line-height: 150%;
  color: #ffffff;
}

.card-profile{
  position: absolute;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 320px;
  margin-left: -160px;
  backdrop-filter: blur(20px);
  border-radius: 8px;
  border: 1px solid hsl(156, 51%, 14%);
    backdrop-filter: blur(3px);
  -webkit-box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
          box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
          box-shadow: 0px -3px 22px 0px  hsl(156, 51%, 14%) inset;
          /* box-shadow: 0px -3px 22px 0px  rgba(255, 255, 255, 0.3) inset; */
  font-family: 'Roboto',sans-serif;
  font-style: italic;
  z-index: 3;
}

.card-profile-img {
  margin-top: 20px;
  height: 120px;
  width: 120px;
  background-color: rgba(255, 255, 255,0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 50%;
  /* margin: 30px auto 20px  auto; */
  box-shadow: 0px -3px 20px 0px hsl(156, 51%, 14%) inset;
  border: 1px solid hsl(156, 51%, 14%);
}

.card-profile-img img{
  height: 86%;
  border-radius: 50%;
  margin-left: 7%;
  margin-top: 7%;
}

.info-profile {
  margin: 0;
}

.desc-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.primary-profile {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.7px;
  margin: 5px 0;
}
.secondary-profile {
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.details-profile{
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 70px;
  padding: 5px 0;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  /* background-color: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px); */
}

.details-profile>div{
  text-align: center;
}
.details-profile>div:first-child{
  border-right: 2px solid rgba(255,255,255, 0.3);
}

.edit-profile-link {
  padding: 15px;
  margin-bottom: 20px;
  background-color: hsla(156, 51%, 14%, 5%);
  box-shadow: 0px -3px 60px 0px  hsl(156, 51%, 14%) inset;
  color: hsl(156, 51%, 75%);
  border-radius: 10px;
  border: 1px solid hsl(156, 51%, 14%);
}

.btn-edit-profile {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  transform: translateY(0px);
  transition: all 0.2s ease;
}


@media (min-width: 992px) {
  .logIn:hover {
    transform: translateY(-0.25rem);
    box-shadow: 2px 2px 10px #f28743, 0 0 20px #bb31be, 0 0 50px #f28743, 0 0 100px #bb31be;

  }

  .btn-next-icon:hover {
    cursor: pointer;
    transform: translateY(-0.25rem);
    box-shadow: 2px 2px 10px #f28743, 0 0 20px #bb31be, 0 0 50px #f28743, 0 0 100px #bb31be;
    border: 1px solid #f28743;
    border-radius: 50%;
  }

  .btn-prev-icon:hover {
    cursor: pointer;
    transform: translateY(-0.25rem);
    box-shadow: 2px 2px 10px #f28743, 0 0 20px #bb31be, 0 0 50px #f28743, 0 0 100px #bb31be;
    border: 1px solid #bb31be;
    border-radius: 50%;
  }

  .task-management-img:hover {
    transform: scale(1.2);
    cursor: pointer;
    z-index: 2;
    transition: 1s;
  }

  .team-work-img:hover {
    transform: scale(0.8);
    cursor: pointer;
    transition: 1s;
  }

  .personalized-img:hover {
    cursor: pointer;
    box-shadow: 2px 2px 10px #f28743, 0 0 20px #bb31be, 0 0 50px #f28743, 0 0 100px #bb31be;
    transition: 1s;
  }

  .sii:hover,
  .mobile-version-img:hover {
    cursor: pointer;
    transform: translateY(-0.45rem);
  }

  .reg-come-back:hover,
  .nav-item-link:hover  {
    text-shadow: 2px 2px 10px #ffffff;
  }

  .nav-item-link:hover + .icon-nav {
    box-shadow: 2px 2px 10px #ffffff;
    border-radius: 50%;
  }

  .edit-profile-link:hover {
    transform: translateY(5px);
    cursor: pointer;
  }
}