@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

.logo-icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.bg-body {
  position: relative;
  background: url(../img/main_bg.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.bg-body::before {
  position: absolute;
  content: '';
  background: radial-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0));
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 5.9375rem; */
  height: inherit;
  max-width: 1440px;
  margin: auto;
  z-index: 1;
}

.header-task-mastery {
  position: relative;
  padding: 47px 0;
  z-index: 1;
}

.nav-task-mastery {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(320deg, #f28743, #bb31be);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logIn {
    width: 150px;
    height: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background: linear-gradient(90deg, #f28743, #bb31be);
    box-shadow: 0 0 5px #f28743;
    transition: 1s;
}

.main-task-mastery {
  position: relative;
  overflow: hidden;
  height: 400px;
  z-index: 1;
}

.introductory-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 1;
}

.introductory-section-title {
    margin: 0;
    max-width: 670px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 150%;
    color: #ffffff;
    text-shadow: 2px 2px 10px #ffffff;
}

.introductory-section-btn {
    width: 160px;
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
}

.main-section {
  position: absolute;
  visibility: hidden;
  width: 1440px;
  height: 400px;
}

.site-intended,
.mobile-version {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.site-intended-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 85%;
  color: #ffffff;
  text-shadow: 2px 2px 10px #ffffff;
}

.point-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.site-intended-text {
  display: flex;
  flex-direction: column;
  max-width: 537px;
}

.site-intended-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
}

.btn-next-icon,
.btn-prev-icon {
  width: 24px;
  height: 24px;
}

.site-intended,
.mobile-version {
  /* position: relative; */
  z-index: 1;
}

.slider-btn-next,
.slider-btn-prev {
  position: relative;
  z-index: 1;
  background: none;
  border: none;
}

.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.site-intended-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.site-intended-img,
.wrapper-tmi1,
.wrapper-tmi2,
.wrapper-tmi3 {
  border-radius: 50px;
  box-shadow: 0 0 17px #bb31be;
}

.site-intended-item-text {
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 220%;
    color: #ffffff;
    text-shadow: 2px 2px 10px #ffffff;
}

.task-management {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* position: relative; */
  z-index: 1;
}

.task-management-img {
  position: absolute;
  width: 220px;
  height: 220px;
}

.task-management-imgs {
  position: relative;
  width: 336px;
  height: inherit;
}

.wrapper-tmi1 {
  position: absolute;
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.wrapper-tmi2 {
  position: absolute;
  top: 75px;
  left: 100px;
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.wrapper-tmi3 {
  position: absolute;
  left: 194px;
  top: 175px;
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.team-work,
.personalized {
  /* position: relative; */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

.team-work-img {
  border-radius: 50%;
}

.personalized-img {
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.mobile-version-img {
  border-radius: 10px;
}

.appearence {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear, transform 1s;
  transform: translateY(0);
}


.disapearence {
  visibility: hidden; 
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear, transform 1s;
  transform: translateY(-100%);
}

.section-hidden {
  display: none;
}


@media (min-width: 992px) {
  .logIn:hover {
    transform: translateY(-0.25rem);
    box-shadow: 2px 2px 10px #f28743, 0 0 20px #bb31be, 0 0 50px #f28743, 0 0 100px #bb31be;

  }

  .btn-next-icon:hover {
    cursor: pointer;
    transform: translateY(-0.25rem);
    box-shadow: 2px 2px 10px #f28743, 0 0 20px #bb31be, 0 0 50px #f28743, 0 0 100px #bb31be;
    border: 1px solid #f28743;
    border-radius: 50%;
  }

  .btn-prev-icon:hover {
    cursor: pointer;
    transform: translateY(-0.25rem);
    box-shadow: 2px 2px 10px #f28743, 0 0 20px #bb31be, 0 0 50px #f28743, 0 0 100px #bb31be;
    border: 1px solid #bb31be;
    border-radius: 50%;
  }

  .task-management-img:hover {
    transform: scale(1.2);
    cursor: pointer;
    z-index: 2;
    transition: 1s;
  }
}